<link rel="stylesheet" href="/css/store_trash.css">
<link rel="stylesheet" href="/css/load_more.css">
<div class="container">
    <div class="mt-4">
        <div class="header">
            <h3>Sự kiện tại livrecafé</h3>
            <span><a href="/workingspaces/create" style="font-size: 16px; font-weight: 500;">Tạo sự kiện</a></span>
            {{#ifCond user.role 1}}
            <a href="/own/trash/workingspaces">Thùng rác ({{deletedCount}})</a>
            {{/ifCond}}
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Tổng chi phí</th>
                    <th scope="col" colspan="2">Thời gian xảy ra xử kiện</th>
                </tr>
            </thead>
            <tbody>
                {{#each workingspaces}}
                <tr class="item-for-loadmore">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td>
                        {{this.total}}đ
                    </td>
                    <td>{{this.eventStartDate}} {{this.eventStartTime}} - {{this.eventEndDate}} {{this.eventEndTime}}
                    </td>
                    <td class="btn-group">
                        <a href="/workingspaces/{{this.slug}}" class="btn btn-outline-success" >Xem</a>
                        {{#ifCond user.role 0}}
                        <a href="/workingspaces/{{this.slug}}" class="btn btn-outline-primary">Sửa</a>
                        {{/ifCond}}
                        <button href="" class="btn btn-outline-warning" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-book-modal">Xóa</button>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Chưa có sự kiện nào.
                        
                        <a href="/">Quay về trang chủ</a>
                        
                    </td>
                </tr>
                {{/each}}



            </tbody>

        </table>
    </div>

    <a href="#" id="loadMore">Load More</a>

    <p class="totop btn btn-danger">
        <a href="#top" id="top" style="color: #fff">Back to top</a>
    </p>

    {{!-- Confirm delete book --}}
    <div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa sự kiện?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn muốn xóa sự kiện này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa bỏ</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Delete hidden form --}}
    <form name="delete-book-form" method="POST"></form>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/datetime_handling.js"></script>
<script>
    $(document).ready(function () {
        var bookId;
        var deleteForm = document.forms['delete-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');


        // When dialog confirm clicked
        $('#delete-book-modal').on('show.bs.modal', function (book) {

            var button = $(book.relatedTarget);
            bookId = button.data('id');
            console.log(bookId)
        });

        // When delete book btn clicked
        btnDeleteBook.onclick = function () {
            deleteForm.action = '/workingspaces/' + bookId + '?_method=DELETE';
            deleteForm.submit();
        }

        $(".item-for-loadmore").slice(0, 4).show();
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".item-for-loadmore:hidden").slice(0, 4).slideDown();
            if ($(".item-for-loadmore:hidden").length == 0) {
                $("#load").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });

        $('#top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 600);
            return false;
        });


    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('.totop a').fadeIn();
        } else {
            $('.totop a').fadeOut();
        }
    });

</script>