<link rel="stylesheet" href="/css/store_trash.css">
<link rel="stylesheet" href="/css/load_more.css">
<div class="container">
    <div class="mt-4">
        <div>
            <a href="/orders/list/{{user.username}}">Danh sách các đơn hàng</a>
            <h3>Đơn hàng đã xóa</h3>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tổng số sản phẩm</th>
                    <th scope="col">Total</th>
                    <th scope="col" colspan="2">Thời gian xóa</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr class="item-for-loadmore">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.itemList.length}}</td>
                    <td class="">{{this.total}}</td>
                    <td class="date">{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-restore btn-outline-success" data-id="{{this._id}}">Khôi phục</a>
                        <a href="" class="btn btn-outline-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-order-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                        <a href="/">Quay về trang chủ và chọn những sản phẩm bạn yêu thích</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <a href="#" id="loadMore">Load More</a>

    <p class="totop btn btn-danger">
        <a href="#top" id="top" style="color: #fff">Back to top</a>
    </p>

    {{!-- Confirm delete order --}}
    <div id="delete-order-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa đơn hàng?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa đơn hàng này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button id="btn-delete-order" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                </div>
            </div>
        </div>
    </div>

    <form name="delete-order-form" method="POST"></form>
    <form name="restore-order-form" method="POST"></form>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/datetime_handling.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var orderId;
            var deleteForm = document.forms['delete-order-form'];
            var restoreForm = document.forms['restore-order-form'];
            var btnDeleteOrder = document.getElementById('btn-delete-order');
            var restoreBtn = $('.btn-restore');

            // When dialog confirm clicked
            $('#delete-order-modal').on('show.bs.modal', function (order) {
                var button = $(order.relatedTarget);
                orderId = button.data('id');
            });

            // When delete order btn clicked
            btnDeleteOrder.onclick = function () {
                deleteForm.action = '/orders/' + orderId + '/force?_method=DELETE';
                deleteForm.submit();
            }

            // Restore btn clicked
            restoreBtn.click(function (e) {
                e.preventDefault();

                var orderId = $(this).data('id');
                restoreForm.action = '/orders/' + orderId + '/restore?_method=PATCH';
                restoreForm.submit();
            });
        });

        $(document).ready(function () {
           
            $(".item-for-loadmore").slice(0, 4).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".item-for-loadmore:hidden").slice(0, 4).slideDown();
                if ($(".item-for-loadmore:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });

            $('#top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                return false;
            });


        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.totop a').fadeIn();
            } else {
                $('.totop a').fadeOut();
            }
        });


    </script>
</div>