<link rel="stylesheet" href="/css/working_space.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div id="working-space">

  <input type="text" id="username" value="{{user.username}}" style="display:none">
  <form id="workingspace-form" enctype="multipart/form-data">
    {{! chon chỗ ngồi }}
    <div id="basic-info">
      <div class="header">Vui lòng nhập đầy đủ thông tin để đặt chỗ</div>
      <div class="line w-100"></div>

      <div class="info row">
        <div class="name col col-6">
          <span>Họ và tên</span>
          <input type="text" required />
        </div>
        <div class="phoneNum col col-6">
          <span>Số điện thoại</span>
          <input type="tel" required />
        </div>
        <div class="line col-12"></div>
        
        <div class = "event-title col col-6">
          <span>Tiêu đề</span>
          <input type = "text" required>
        </div>

        <div class = "email col col-6">
          <span>Email</span>
          <input type= "email" accept="email/*" required>
        </div>
        
        <div class="line col-12"></div>

        <div class="start-time col col-6">
          <span>Bắt đầu</span>
          <input type="datetime-local" required />

        </div>
        <div class="end-time col col-6">
          <span>Kết thúc</span>
          <input type="datetime-local" required />

        </div>

        <div class="line col-12"></div>
        <div class = "image col col-6">
          <span>Ảnh sự kiện</span>
          <input type = "file"  name="avatar" id="avatar" accept="image/*">
        </div>


        <div class="seat-num col col-6">
          <span>Số lượng ghế</span>
          <button class="seat-btn decre-btn"><i class="ti-minus"></i></button>
          <input type="text" value="1" class="input" required />
          <button class="seat-btn incre-btn"><i class="ti-plus"></i></button>
        </div>

        <div class="line col-12"></div>

        <div class = "description col col-12">
          <span>Thông tin mô tả</span>
          <textarea type="text"></textarea>
        </div>

      </div>
    </div>

    <div class="food-drink-confirm">
      <span>Bạn có muốn sử dụng đồ ăn và thức uống tại cửa hàng của chúng tôi?</span>
      <input type="checkbox" />
    </div>
    {{! chọn thức ăn, đồ uống }}
    <div id="food-drink-order" class="row">

      {{! danh sách đang chọn }}
      <div id="ordering" class="col col-6">
        <nav id="ordering-nav" class="row navbar navbar-light bg-light">
          <span class="navbar-brand col col-3" href="#">Chọn đi ae</span>
          <ul class="nav nav-pills col col-auto d-flex justify-content-end">
            <li class="nav-item active" id="food-btn">
              <span>Snack-Food</span>
            </li>
            <li class="nav-item" id="drink-btn">
              <span>Drinks</span>
            </li>
          </ul>
        </nav>
        {{! food ordering }}
        <div id="ws-food-scroll" class="fodr-list-div active" data-spy="scroll" data-target="#ordering-nav"
          data-offset="0">

          <ul class="fodr-list">
            {{#each food}}
            <li class="fodr-item">
              <img src="{{this.image}}" />
              <div class="fodr-name"><span>{{this.name}}</span></div>
              <div class="fodr-cost"><span>{{this.price}}</span>đ</div>
              <input type="checkbox" />
            </li>

            {{/each}}

           

           
          </ul>

        </div>

        {{! drink ordering }}
        <div id="ws-drink-scroll" class="fodr-list-div" data-spy="scroll" data-target="#ordering-nav" data-offset="0">
          <ul class="fodr-list">
            {{#each coffee}}
              <li class="fodr-item">
                <img src="{{this.image}}" />
                <div class="fodr-name"><span>{{this.name}}</span></div>
                <div class="fodr-cost"><span>{{this.price}}</span>đ</div>
                <input type="checkbox" />
              </li>
            {{/each}}

           

          </ul>
        </div>

      </div>

      {{! danh sách đã được chọn }}
      <div id="ordered" class="col col-6">
        <nav id="ordered-nav" class="navbar navbar-light bg-light">
          <span class="navbar-brand" href="#">Sản phẩm đã chọn</span>
        </nav>

        <div id="ws-ordered-scroll" class="fodr-list-div" data-spy="scroll" data-target="#ordering-nav" data-offset="0">

          {{! food ordered }}
          <ul class="fodr-list" id="food-ordered">

            {{#each food}}
            <li class="fodr-item">
              <img src="{{this.image}}" />
              <div class="fodr-name"><span>{{this.name}}</span></div>
              <div class="fodr-id" style="display: none"><span>{{this._id}}</span></div>
              <div class="fodr-number">

                <button class="change-btn buy-btn" id="decre-btn"><i class="ti-minus"></i></button>
                <input type="text" value="1" class="input" />
                <button class="change-btn buy-btn" id="incre-btn"><i class="ti-plus"></i></button>

              </div>
              <div class="fodr-cost"><span>{{this.price}}</span>đ</div>
            </li>

            {{/each}}

           
          </ul>

          {{! drink ordered }}
          <ul class="fodr-list" id="drink-ordered">
            {{#each coffee}}
            <li class="fodr-item">
              <img src="{{this.image}}" />
              <div class="fodr-name"><span>{{this.name}}</span></div>
              <div class="fodr-id" style="display: none"><span>{{this._id}}</span></div>
              <div class="fodr-number">

                <button class="change-btn buy-btn" id="decre-btn"><i class="ti-minus"></i></button>
                <input type="text" value="1" class="input" />
                <button class="change-btn buy-btn" id="incre-btn"><i class="ti-plus"></i></button>

              </div>
              <div class="fodr-cost"><span>{{this.price}}</span>đ</div>
            </li>
            {{/each}}

           
          </ul>

        </div>

        <div class="fodr-total">
          Tạm tính
          <span>0</span><span>đ</span>
        </div>
      </div>

    </div>

    <div class="submit-order">
      <button type="submit">Đặt chỗ</button>
    </div>
  </form>
</div>

<script src="/js/working_space_basic_info.js"></script>
<script src="/js/working_space.js"></script>

<script>
 
</script>