<link rel="stylesheet" href="/css/event_detail.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<style>
    .fodr-item a {
        color: #a3791c;
        text-decoration: none;
        font-size: 16;
        font-weight: bold;
    }

    .fodr-item a:hover {
        text-decoration: none;
    }
</style>

<div id="working-space">

    <input type="text" id="wk-id" value={{workingspace._id}} style="display: none">

    {{! chon chỗ ngồi }}
    <div id="basic-info">
        <div class="header">Thông tin chi tiết</div>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 8px">
            <p style="font-weight: bold; font-size: 16; color: #df7509">1 slot/hour: 25k</p>
        </div>
        <div class="line w-100"></div>

        <div class="info row">
            <div class="name col col-6">
                <span>Họ và tên</span>
                <input type="text" value="{{workingspace.eventBooker}}" />
            </div>
            <div class="phoneNum col col-6">
                <span>Số điện thoại</span>
                <input type="tel" value="{{workingspace.phone}}" />
            </div>
            <div class="line col-12"></div>

            <div class="event-title col col-6">
                <span>Tiêu đề</span>
                <input type="text" value="{{workingspace.title}}">
            </div>

            <div class="email col col-6">
                <span>Email</span>
                <input type="email" accept="email/*" value="{{workingspace.email}}">
            </div>

            <div class="line col-12"></div>

            <div class="start-time event-time col col-6">
                <span>Ngày bắt đầu</span>
                <input type="text" value="{{workingspace.eventStartTime}} {{workingspace.eventStartDate}}"
                    class="constant" />
                <input type="text" id="eventStartTime" value="{{workingspace.eventStartTime}}" style="display: none" />
                <input type="text" id="eventStartDate" value="{{workingspace.eventStartTime}}" style="display: none" />

            </div>
            <div class="end-time  event-time col col-6">
                <span>Ngày kết thúc</span>
                <input type="text" value="{{workingspace.eventEndTime}} {{workingspace.eventEndDate}}"
                    class="constant" />
                <input type="text" id="eventEndTime" value="{{workingspace.eventStartTime}}" style="display: none" />
                <input type="text" id="eventEndDate" value="{{workingspace.eventStartTime}}" style="display: none" />
            </div>

            <div class="line col-12"></div>

            <div class="seat-num col col-6">
                <span>Số lượng ghế</span>
                {{!-- <button class="seat-btn decre-btn"><i class="ti-minus"></i></button> --}}
                <input type="text" value={{workingspace.no_seating}} class="input constant" />
                {{!-- <button class="seat-btn incre-btn"><i class="ti-plus"></i></button> --}}
            </div>

            <div class="total-amount col col-6">
                <span>Tổng chi phí:</span>
                <input type="text" value="{{workingspace.total}} VNĐ" class="input constant" />
            </div>

            <div class="line col-12"></div>

            {{#if workingspace.description}}
            <div class="description col col-12">
                <span>Thông tin mô tả</span>
                <textarea type="text">{{workingspace.description}}</textarea>
            </div>
            {{/if}}
            <div class="line col-12"></div>
            <div class="col col-6">
                <span>Danh sách thức ăn và đồ uống đã đặt</span>
            </div>
            <div class="col col-6">
                <span>Ảnh sự kiện</span>
            </div>
        </div>
    </div>

    {{! chọn thức ăn, đồ uống }}
    <div id="food-drink-order-and-image" class="row">

        {{! danh sách đã được chọn }}
        <div id="ordered" class="col col-6">

            <div id="ws-ordered-scroll" class="fodr-list-div" data-spy="scroll" data-target="#ordering-nav"
                data-offset="0">

                {{! food ordered }}
                <ul class="fodr-list" id="food-ordered">
                    {{#each workingspace.foods}}
                    {{! item 1 }}
                    <li class="fodr-item">
                        <a href="/food/{{this.food.slug}}">
                            <img src="{{this.food.image}}" />
                            <div class="fodr-name"><span>{{this.food.name}}</span></div>
                            <div class="fodr-number">
                                <label style="font-size: 16; font-weight: bold; margin-right: 4px">Số lượng:</label>
                                <input type="text" value="{{this.quantity}}" class="input constant" />
                            </div>
                        </a>
                    </li>

                    {{/each}}



                </ul>

                {{! drink ordered }}
                <ul class="fodr-list" id="drink-ordered">
                    {{! item 1 }}

                    {{#each workingspace.drinks}}
                    <li class="fodr-item">
                        <a href="/coffee/{{this.drink.slug}}">
                            <img src="{{this.drink.image}}" />
                            <div class="fodr-name"><span>{{this.drink.name}}</span></div>
                            <div class="fodr-number">

                                <label style="font-size: 16; font-weight: bold; margin-right: 4px">Số lượng:</label>

                                <input type="text" value="{{this.quantity}}" class="input constant" />

                            </div>
                        </a>

                    </li>

                    {{/each}}


                </ul>

                <div id="empty_product"></div>

            </div>

        </div>

        <div class="event-image col col-6" style="height: 390px; overflow-y: scroll;">
            <img src="{{workingspace.avatar}}" alt="ảnh sự kiện" style="">
        </div>

    </div>

    <div class="fodr-total" style="text-align: center; font-weight: bold; color: #df7509; font-size: 16px; margin-bottom: 24px">
        Tổng chi phí:
        <span>{{workingspace.total}}</span><span>VNĐ</span>
    </div>

   

    {{#ifCond user.role 0}}
    <div class="update-event" id="update-event">
        <button>Chỉnh sửa thông tin</button>
    </div>
    {{/ifCond}}
</div>

<div id="notice">

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
    if (document.getElementsByClassName("fodr-item").length == 0) {
        document.getElementById("empty_product").innerHTML = `<h5 style="color: #c39e51">Bạn không đặt sản phẩm ở bên quán của chúng tôi</h5>`
    }

    $(document).ready(function () {

        var wk_id = $("#wk-id").val()
        console.log($(".constant"))
        for (var ele of $(".constant")) {
            ele.addEventListener("click", function () {
                $("#notice").html(`<button  id="notice-btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#form" style="display: none"> See Modal with Form </button>
                                            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4" style="background-color: #837542; box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);">
                                                        <h5 style="text-align: center; margin-bottom: 12px; color: #a2ddfd">Những thông tin cố định</h5>
                                                        <h5 style="text-align: center; color: #a2ddfd">Bạn không thể chỉnh sửa những thông tin này của sự kiện</h5>
                                                        <div class="d-flex align-items-center justify-content-center">
                                                        <img src="/img/sorry.png" style="text-align: center; color: #b78908; box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2); height: 300px; width: 300px" class="" />
                                                        </div>
                                                        <a class="r3 px-md-5 px-sm-1" style="text-align: center; color: white; margin-bottom:12px" href="/workingspaces/create">Bạn muốn đặt sự kiện</a>
                                                        <div class="text-center mb-3"> <button id="continue" class="btn w-50 rounded-pill b1" style="background-color: #8daee1; color: #5e4283">Tiếp tục chỉnh sửa sự kiện</button> </div>
                                                    </div>
                                                </div>
                                            </div>`)

                $("#notice-btn").click()
                $("#continue").click(function () {
                    $("#form").click()
                })
            })
        }

        $('#update-event').click(function () {
            $.ajax({
                url: '/workingspaces/check-valid-date',
                method: 'POST',
                data: {
                    eventStartTime: $("#eventStartTime").val(),
                    eventStartDate: $("#eventStartDate").val(),
                    eventEndTime: $("#eventEndTime").val(),
                    eventEndDate: $("#eventEndDate").val()
                },
                success: function (res) {
                    if (res["check"]) {
                        window.location.href = `/workingspaces/edit/${wk_id}`;
                    } else {

                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    })

</script>