<link rel="stylesheet" href="/css/khang_user_info_base.css">
<link rel="stylesheet" href="/css/khang_user_info_main.css">
<style>
    body {
        font-weight: 400;
        font-size: 18px;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 8px;
    }
</style>

<body>
    
    <form class="user-info" method="POST" action="/users/{{user._id}}?_method=PUT">
        <div class="row justify-content-center">
            <div class="grid__row" style="width: 100%; margin-left: 24px; margin-right: 24px">
                <div class="grid__col-2">
                    <div class="user-info__left">
                        <div class="user-info__top">
                            <img src="{{user.avatar}}" alt="" class="user-info__img">
                            <div class="user-info__detail">
                                

                                <a href="#" class="user-info__action">
                                    <i class="fas fa-pen user-info__change-icon"></i>
                                    <span href="#" class="user-info__change">Sửa hồ sơ</span>
                                </a>
                            </div>
                        </div>

                        <div class="user-info__myaccount">
                            <div class="myaccount__heading">
                                <i class="far fa-user myaccount__heading-icon"></i>
                                <span>Tài khoản của tôi</span>
                            </div>
                            <div class="myaccount__content">
                                <a href="#" class="myaccount__content-item myaccount__content-item--active">Hồ sơ</a>
                                <a href="#" class="myaccount__content-item">Đổi mật khẩu</a>
                            </div>
                        </div>

                        <div class="user-info__myaccount">
                           
                            <div class="d-flex flex-column align-items-center justify-content-center" style="border-top: 0.5px solid #ccc">
                                <span style="margin-bottom: 12px">Loyal Member</span>
                               <img src="/img/platinum.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="grid__col-10">
                    <div class="user-info__content">
                        <div class="user-info__content-top">
                            <span class="user__content-top__heading">Hồ sơ của tôi</span>
                            <span style="color: #848484;">Quản lí thông tin hồ sơ để bảo mật an toàn</span>
                        </div>
                        <div class="user__info__content-body">
                            <div class="user__body-detail">
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Tên đăng nhập</div>
                                    <input type="text" name="username" value="{{user.username}}" required
                                        class="user-detail-item__right">

                                 

                                </div>

                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Mặt khẩu</div>
                                    <input type="text" name="password" value="{{user.password}}"
                                        class="user-detail-item__right" required>

                                

                                </div>

                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Firstname</div>
                                    <div class="user-detail-item__right">
                                        <input type="text" name="firstname" value="{{user.firstname}}"
                                            class="user-item__right-input" >
                                    </div>
                                </div>
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Lastname</div>
                                    <div class="user-detail-item__right">
                                        <input type="text" name="lastname" value="{{user.lastname}}"
                                            class="user-item__right-input">
                                    </div>
                                </div>
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Email</div>
                                    <div class="user-detail-item__right">
                                        <div class="user-detail-item__right">
                                            <input type="email" name="email" value="{{user.email}}"
                                                class="user-item__right-input" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Số Điện Thoại</div>
                                    <div class="user-detail-item__right">
                                        <div class="user-detail-item__right">
                                            <input type="text" name="phone" value="{{user.phone}}"
                                                class="user-item__right-input" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Giới tính</div>
                                    <div class="user-detail-item__right">
                                        <div class="user-detail-item__gender">
                                            <div class="user__gender-item d-flex justify-content-center">
                                                <input name="gender" type="checkbox" style="margin-right: 4px">
                                                Nam
                                            </div>

                                            <!-- selected -->
                                            <div
                                                class="user__gender-item d-flex justify-content-center user__gender-item--selected">
                                                <input name="gender" type="checkbox" style="margin-right: 4px">

                                                Nữ
                                            </div>
                                            <div class="user__gender-item d-flex justify-content-center">
                                                <input name="gender" type="checkbox" style="margin-right: 4px">

                                                Khác
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user__body-detail-item">
                                    <div class="user-detail-item__left">Ngày Sinh</div>
                                    <input class="user-detail-item__right user-detail-item__right--dateOfBirth "
                                        type="date">



                                    </input>
                                </div>
                                <button class="user__body-detail__btn">Lưu</button>
                            </div>

                            <div class="user__body-right">
                                <img src="{{user.avatar}}" alt="" class="user__body-right__img">
                                <input class="user__body-right__btn" type="file" name="avatar" style="width: 120px">Chọn ảnh</input>
                                <div class="body-right__des">
                                    <div class="body-right__des-item">Dung lượng tối đa 1MB</div>
                                    <div class="body-right__des-item">Định dạng: .JPEG, .PNG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>