<link rel="stylesheet" href="/css/store_trash.css">
<link rel="stylesheet" href="/css/load_more.css">
<div class="container">
    <div class="mt-4">
        <div class="header">
            <h3>Người dùng trong hệ thống</h3>
            <a href="/own/trash/users">Thùng rác ({{deletedCount}})</a>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">username</th>
                    <th scope="col">Cấp bậc thành viên</th>
                    <th scope="col" colspan="2">Vai trò</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr class="item-for-loadmore">
                    <th scope="row" style="font-size: 16px; font-weight: bold; color: #c39e51">{{sum @index 1}}</th>
                    <td style="font-size: 16px; font-weight: bold; color: #c39e51">{{this.username}}</td>
                    
                    <td class="level" style="font-size: 16px; font-weight: bold; color: #c39e51">
                        {{this.registered_level}}
                    </td>
                    {{#if this.role}}
                        <td style="font-size: 16px; font-weight: bold; color: #c39e51">Admin</td>
                    {{else}}    
                        <td style="font-size: 16px; font-weight: bold; color: #c39e51">System's user</td>
                    {{/if}}
                    <td class="btn-group">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#{{this._id}}">Xem</button>
                        <div class="modal fade" id="{{this._id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4" style="background-color: white;">
                                    <div class="item-info">
                                        <div>
                                            <img src="{{this.avatar}}" alt="" class="img-admin">
                                        </div>

                                        <div>
                                            <div>
                                                <h3>{{this.username}}</h3>
                                            </div>
                                            <div>
                                                <p>Email: {{this.email}}</p>
                                                <p>Phone: {{this.phone}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button href="" class="btn btn-outline-warning" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-book-modal">Xóa</button>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Hệ thống của bạn chưa có người dùng nào nào.
                        <a href="/">Quay về trang chủ</a>
                    </td>
                </tr>
                {{/each}}



            </tbody>

        </table>
    </div>

    <a href="#" id="loadMore">Load More</a>

    <p class="totop btn btn-danger">
        <a href="#top" id="top" style="color: #fff">Back to top</a>
    </p>

    {{!-- Confirm delete book --}}
    <div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa người dùng?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn muốn xóa người dùng này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa bỏ</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Delete hidden form --}}
    <form name="delete-book-form" method="POST"></form>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/datetime_handling.js"></script>
    <script>

        levels = document.getElementsByClassName("level")
        for (var level of levels) {
            num = parseInt(level.innerHTML)
              if (num == 1) {
                    level.innerHTML = "Bronze Memmber"
                } else if (num == 2) {
                    level.innerHTML = "Silver Member"
                } else if (num == 3) {
                   level.innerHTML = "Gold Member"
                } else if (num == 4) {
                    level.innerHTML = "Platinum Member"
                } else if (num == 5) {
                    level.innerHTML = "Dimond Member"
                } else if (num == 6) {
                   level.innerHTML = "Master Member"
                } else if (num == 0) {
                    level.innerHTML = "Normal Member"
                }
        }



        $(document).ready(function () {
            var bookId;
            var deleteForm = document.forms['delete-book-form'];
            var btnDeleteBook = document.getElementById('btn-delete-book');


            // When dialog confirm clicked
            $('#delete-book-modal').on('show.bs.modal', function (book) {

                var button = $(book.relatedTarget);
                bookId = button.data('id');
                console.log(bookId)
            });

            // When delete book btn clicked
            btnDeleteBook.onclick = function () {
                deleteForm.action = '/users/' + bookId + '?_method=DELETE';
                deleteForm.submit();
            }

            $(".item-for-loadmore").slice(0, 4).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".item-for-loadmore:hidden").slice(0, 4).slideDown();
                if ($(".item-for-loadmore:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });

            $('#top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                return false;
            });


        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.totop a').fadeIn();
            } else {
                $('.totop a').fadeOut();
            }
        });
    </script>
</div>