<link rel="stylesheet" href="/css/cart.css">

<body>

  <div class="cart-container" id="cart-container">
    <div style="" id="notice-empty-cart">

    </div>
    <p id="username" style="display: none">{{cart.username}}</p>

    <input type="text" id="cartId" value="{{cart._id}}" style="display:none">
    <div class="box-title">
      <div class="d-flex align-items-center" style="flex: 1">
        <span class="cart-title">Tên sản phẩm</span>
      </div>
      <div class="d-flex align-items-center">
        <p class="cart-title d-flex align-items-center" style="margin-right: 84px; margin-bottom: 0">Tổng đơn</p>
      </div>
      <div class="cart_quantity_box_title">
        <span class="cart-title">Giảm</span>
        <span class="cart-title">SoL</span>
        <span class="cart-title">Tăng</span>
      </div>
    </div>
    {{#each cart.itemList}}
    {{#if this.book}}
    <div id="{{this.book._id}}" class="cart_item">
     
      {{#if this.book.saleoff_status}}
        
      <div class="cart_item_title_box">
        <span> {{this.book.title}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.book.saleoff_price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.book.saleoff_price}}</p>
      </div>

      {{else}}

      <div class="cart_item_title_box">
        <span> {{this.book.title}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.book.price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.book.price}}</p>
      </div>

      {{/if}}

      <div class="cart_quantity_box">
        <button class="btn btn-warning" onclick="subtract(this)">-</button>
        <span class="quantity btn btn-warning">{{this.quantity}}</span>
        <button class="btn btn-warning" onclick="add(this)">+</button>
      </div>
    </div>
    {{/if}}
    {{#if this.food}}
    <div id="{{this.food._id}}" class="cart_item">
       {{#if this.food.saleoff_status}}
      <div class="cart_item_title_box">
        <span> {{this.food.name}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.food.saleoff_price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.food.saleoff_price}}</p>
      </div>

      {{else}}

      <div class="cart_item_title_box">
        <span> {{this.food.name}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.food.price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.food.price}}</p>
      </div>

      {{/if}}
      <div class="cart_quantity_box">
        <button class="btn btn-warning" onclick="subtract(this)">-</button>
        <span class="quantity btn btn-warning">{{this.quantity}}</span>
        <button class="btn btn-warning" onclick="add(this)">+</button>
      </div>
    </div>
    {{/if}}
    {{#if this.coffee}}
    <div id="{{this.coffee._id}}" class="cart_item">
       {{#if this.coffee.saleoff_status}}
      <div class="cart_item_title_box">
        <span> {{this.coffee.name}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.coffee.saleoff_price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.coffee.saleoff_price}}</p>
      </div>

      {{else}}
      <div class="cart_item_title_box">
        <span> {{this.coffee.name}}</span>
        (Đơn giá: <span type="text" class="priceEachItem">{{this.coffee.price}}</span>)
      </div>
      <div class="total_per_item">
        <p class="priceEachItemTotal">{{multiply this.quantity this.coffee.price}}</p>
      </div>

      {{/if}}
      <div class="cart_quantity_box">
        <button class="btn btn-warning" onclick="subtract(this)">-</button>
        <span class="quantity btn btn-warning">{{this.quantity}}</span>
        <button class="btn btn-warning" onclick="add(this)">+</button>
      </div>
    </div>
    {{/if}}
    {{/each}}

    <div style="display: flex; justify-content: center; align-items: center; margin: 30px;" id="total-box"
      class="btn btn-warning">
      <span id="total">Total: </span>
    </div>


    <div id="promoList">
      {{#each promoList}}
      <div id="{{this._id}}" class="promoItem btn">
        <div class="promo-info">
          <a href="#" class="promo-info-container">

            <p href="#" class="promo-name">{{this._id}}</p>
            <h4 href="#" class="promo-desc">{{this.name}}</h4>
            <p href="#" class="promo-expiration local-date">{{this.expirationDate}}</p>
             
          </a>

        </div>
        <input type="text" class="promoId" value="{{this._id}}" hidden>
        <input type="text" class="condition" value="{{this.condition}}" hidden></input>
        <div class="promo-btn-box box-norm">
          <button class="promo-btn" onclick="clickPromotionBtn(this)">Add</button>
        </div>
      </div>
      {{/each}}
    </div>
    <div id="promoId" style="display: none"></div>
    {{#if cart.itemList.length}}
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 32px"><a
        href="/carts/buys/{{cart._id}}" class="btn btn-warning" id="purchaseBtn">Purchase now</a></div>
    {{/if}}

  </div>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/datetime_handling.js"></script>
  <script>
    function calculateTotal() {
      var priceList = $(".priceEachItemTotal")
      var total = 0
      for (price of priceList) {
        total += parseInt(price.innerHTML)
      }
      if (total == 0) {
        $("#totalLabel").hide()
        return "Empty Cart"
      }
      return total;
    }

    var cartId = $("#cartId").val()

    function clickPromotionBtn(btn) {
      var promoId = btn.parentElement.parentElement.id;
      let total = $("#total").text().split(':')[1];
      total = parseInt(total);

      let condition = parseInt($(`#${promoId} .condition`).val()) * 1000
      if (condition > total) {

        alert("Bạn chưa đáp ứng đủ điểu kiện, vui lòng đọc chi tiết mã giảm giá");
        return;
      }
      box = btn.parentElement
      if (box.classList.contains("box-success")) {
        box.classList.remove("box-success")
        btn.innerHTML = "Add"

        var promoList = document.getElementsByClassName('promo-btn');
        for (item of promoList) {
          if (item !== btn) {
            item.removeAttribute("disabled")
            item.parentElement.style.opacity = 1;
          }
        }
        $("#purchaseBtn").attr('href', `/carts/buys/${cartId}`)
      } else {

        var promoList = document.getElementsByClassName('promo-btn');
        var s_box = ''
        for (item of promoList) {
          if (item.parentElement.classList.contains('box-success')) {
            s_box = item.parentElement
            break;
          }
        }

        if (s_box == '') {
          var promoId = btn.parentElement.parentElement.id;
          const data = {
            cartId, promoId
          }

          $.ajax({
            url: '/carts/add-promo-to-cart',
            method: "POST",
            data: data,
            success: function (res) {
              console.log(res)
              if (res == false) {
                alert("Bạn đã đến ngưỡng tối đã sử dụng mã trong 1 ngày")
              } else {
                box.classList.add("box-success")
                btn.innerHTML = "Remove"
                var promoList = document.getElementsByClassName('promo-btn');
                for (item of promoList) {
                  if (item !== btn) {
                    item.setAttribute("disabled", true)
                    item.parentElement.style.opacity = 0.5;
                  }

                }

                $("#promoId").text(promoId)
                $("#purchaseBtn").attr('href', `/carts/buys/${cartId}?promoId=${promoId}`);
              }
            }
          })
        } else {
          alert('Bạn chỉ được chọn 1 mã giảm giá')
        }


      }
    }

    function subtract(btn) {
      const bookId = btn.parentElement.parentElement.id;
      var quantity = parseInt($(`#${bookId} .quantity`).text());
      var price = parseInt($(`#${bookId} .priceEachItem`).text());
      var username = $('#username').text();
      const data = { bookId: bookId, quantity: quantity, username: username }
      $.ajax({
        url: '/carts/subtract-by-one',
        method: "POST",
        data: data,
        success: function (res) {
          $("#cart-number").text(res.itemList.length);
          if (res.itemList.length == 0) {
            $('#purchaseBtn').hide()
          }
        }
      })
      if (quantity - 1 == 0) {
        $(`#${bookId}`).hide()
        $('#promoList').hide()
        location.reload();

      }
      $(`#${bookId} .quantity`).text(quantity - 1)
      $(`#${bookId} .priceEachItemTotal`).text((quantity - 1) * price)

      if (calculateTotal() == 'Empty Cart') {
        $("#total").text(calculateTotal())
        $('#total-box').css('display', 'none')
        $('#notice-empty-cart').css('display', 'flex')
        $('#cart-container').css('background-image', url('/img/empty_cart.jpg'))
        $('#cart-container').css('background-position', 'center')
      }
      else $("#total").text('Total: ' + calculateTotal())

    }
    function add(btn) {
      const bookId = btn.parentElement.parentElement.id;
      var quantity = parseInt($(`#${bookId} .quantity`).text());
      var price = parseInt($(`#${bookId} .priceEachItem`).text());
      var username = $('#username').text();
      const data = { bookId: bookId, quantity: quantity, username: username }
      $.ajax({
        url: '/carts/add-by-one',
        method: "POST",
        data: data,
        success: function (res) {

        }
      })
      $(`#${bookId} .quantity`).text(quantity + 1)
      console.log(price)
      $(`#${bookId} .priceEachItemTotal`).text((quantity + 1) * price)

      $("#total").html('Total: ' + calculateTotal())
    }

    if (calculateTotal() == 'Empty Cart') {
      $("#total").text(calculateTotal())
      $('#total-box').css('display', 'none')
      $('#notice-empty-cart').css('display', 'flex')
      $('#cart-container').css('background-image', 'url(' + '/img/empty_cart.jpg' + ')')
      $('#cart-container').css('background-position', 'center')
    }
    else $("#total").text('Total: ' + calculateTotal())



  </script>

</body>