<link rel="stylesheet" href="/css/store_trash.css">
<link rel="stylesheet" href="/css/load_more.css">
<div class="container">
    <div class="mt-4">
        <div>
            <a href="/notis/list/{{user.username}}">Danh sách các thông báo</a>
            <h3>Thông báo đã xóa</h3>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nôi dung</th>
                    <th scope="col" colspan="2">Thời gian xóa</th>
                </tr>
            </thead>


            <tbody>
                {{#each notis}}
                <tr class="item-for-loadmore">
                    <th scope="row">{{sum @index 1}}</th>


                    <td>
                        <a href="{{this.where_url}}">
                            {{#if this.isRead}}
                            {{#ifCond this.type 1}}
                            <span class="noti-username">Bạn đã nhận đươc 1</span> <span class="noti-type">mã
                                giảm giá của LivreCafé </span> <span class="noti-where">tại đây</span>
                            {{/ifCond}}

                            {{#ifCond this.type 0}}
                            <span class="noti-username">{{this.sender}}</span> <span class="noti-type">đã
                                nhắc đến bạn </span> trong <span class="noti-where">trang
                                này hoặc có liên quan tới bạn</span>
                            {{/ifCond}}

                            {{#ifCond this.type 2}}
                            <p style="margin-bottom: 4px">Bạn có 1 đơn hàng từ <span
                                    class="noti-username">{{this.sender}}</p>

                            {{/ifCond}}

                            {{else}}
                            {{#ifCond this.type 1}}
                            <span class="noti-username" style="font-weight: bold!important;">Bạn đã nhận đươc
                                1</span> <span style="font-weight: bold!important;" class="noti-type">mã giảm
                                giá mới của LivreCafé</span> <span style="font-weight: bold!important;"
                                class="noti-where">tạiđây</span>
                            {{/ifCond}}

                            {{#ifCond this.type 2}}
                            <p style="font-weight: bold; margin-bottom: 4px">Bạn có 1 đơn hàng mới từ <span
                                    class="noti-username" style="font-weight: bold;">{{this.sender}}</p>
                            {{/ifCond}}

                            {{#ifCond this.type 0}}
                            <span class="noti-username" style="font-weight: bold!important;">{{this.sender}}</span>
                            <span class="noti-type" style="font-weight: bold!important;">đã
                                nhắc đến bạn </span> <span style="font-weight: bold!important;">trong</span>
                            <span style="font-weight: bold!important;" class="noti-where">trang
                                này hoặc có liên quan tới bạn</span>
                            {{/ifCond}}
                            {{/if}}

                        </a>
                    </td>


                    <td class="date">{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-restore btn-outline-success" data-id="{{this._id}}">Khôi phục</a>
                        <a href="" class="btn btn-outline-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-noti-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                        <a href="/">Quay về trang chủ và mua các sản phẩm bạn thích</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <a href="#" id="loadMore">Load More</a>

    <p class="totop btn btn-danger">
        <a href="#top" id="top" style="color: #fff">Back to top</a>
    </p>

    {{!-- Confirm delete noti --}}
    <div id="delete-noti-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa thông báo?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa thông báo này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button id="btn-delete-noti" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                </div>
            </div>
        </div>
    </div>

    <form name="delete-noti-form" method="POST"></form>
    <form name="restore-noti-form" method="POST"></form>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/datetime_handling.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var notiId;
            var deleteForm = document.forms['delete-noti-form'];
            var restoreForm = document.forms['restore-noti-form'];
            var btnDeletenoti = document.getElementById('btn-delete-noti');
            var restoreBtn = $('.btn-restore');

            // When dialog confirm clicked
            $('#delete-noti-modal').on('show.bs.modal', function (noti) {
                var button = $(noti.relatedTarget);
                notiId = button.data('id');
            });

            // When delete noti btn clicked
            btnDeletenoti.onclick = function () {
                deleteForm.action = '/notis/' + notiId + '/force?_method=DELETE';
                deleteForm.submit();
            }

            // Restore btn clicked
            restoreBtn.click(function (e) {
                e.preventDefault();

                var notiId = $(this).data('id');
                restoreForm.action = '/notis/' + notiId + '/restore?_method=PATCH';
                restoreForm.submit();
            });
        });

        $(document).ready(function () {

            $(".item-for-loadmore").slice(0, 4).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".item-for-loadmore:hidden").slice(0, 4).slideDown();
                if ($(".item-for-loadmore:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });

            $('#top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                return false;
            });


        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.totop a').fadeIn();
            } else {
                $('.totop a').fadeOut();
            }
        });


    </script>
</div>