<!--Carousel Wrapper-->
<link rel="stylesheet" href='/css/countDownClock.css'>
<!--Carousel Wrapper-->
<div id="home-slider">

  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel"
    style="margin-left: 0; margin-right: 0">
    <!--Indicators-->
    <ol class="carousel-indicators" style="z-index: 1!important">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      <li data-target="#carousel-example-1z" data-slide-to="3"></li>
      <li data-target="#carousel-example-1z" data-slide-to="4"></li>
      <li data-target="#carousel-example-1z" data-slide-to="5"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->

    <div class="carousel-inner" role="listbox">

      {{#if food_new}}
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{food_new.image}}" alt="First slide">
      </div>
      <input type="text" id="food_new_check" value="1" style="display: none">

      {{else}}
      <input type="text" id="food_new_check" value="0" style="display: none">
      {{/if}}

      {{#if book_new}}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{book_new.image}}" alt="First slide">
      </div>
       <input type="text" id="book_new_check" value="1" style="display: none">

      {{else}}
      <input type="text" id="book_new_check" value="0" style="display: none">
      {{/if}}

      {{#if coffee_new}}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{coffee_new.image}}" alt="First slide">
      </div>
       <input type="text" id="coffee_new_check" value="1" style="display: none">

      {{else}}
      <input type="text" id="coffee_new_check" value="0" style="display: none">
      {{/if}}

      <!--First slide-->
      <div class="carousel-item" id="first-default-slide">
        <img class="d-block w-100" src="/img/home-6.jpg" alt="First slide">
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/home-2.jpg" alt="Second slide">
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/home-1.jpg" alt="Third slide">
      </div>
      <!--/Third slide-->


      <div class="carousel-item">
        <img class="d-block w-100" src="/img/home-4.jpg" alt="Third slide">
      </div>



      <div class="carousel-item">
        <img class="d-block w-100" src="/img/home-5.jpg" alt="Third slide">
      </div>



      <div class="carousel-item">
        <img class="d-block w-100" src="/img/home-3.jpg" alt="Third slide">
      </div>





    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

{{#if book_new}}
<input type="text" id="show_book_clock" value="1" style="display:none">

{{else}}
<input type="text" id="show_book_clock" value="0" style="display:none">
{{/if}}

{{#if food_new}}
<input type="text" id="show_food_clock" value="1" style="display:none">

{{else}}
<input type="text" id="show_food_clock" value="0" style="display:none">
{{/if}}

{{#if coffee_new}}
<input type="text" id="show_drink_clock" value="1" style="display:none">

{{else}}
<input type="text" id="show_drink_clock" value="0" style="display:none">
{{/if}}

{{!-- đồng hồ food --}}
{{#if food_new}}
<div class="saleClock row" id="saleClockFood">

  <div class="header col col-8">
    <h3>Sự kiện giảm các sản phẩm liên quan đến đồ ăn đang diễn ra</h3>
    <span style="font-size: 16px; font-weight: 600">Giảm lên tới <span
        style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{food_new.discountPercentage}}%</span> cho loại
      đồ ăn có giá trên <span style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{food_new.condition}}.000
        VNĐ</span></span>
  </div>

  <div class="endClock">
    <div class="endDate" style="display: none">{{food_new.eventEndDate}}</div>
    <div class="endTime" style="display: none">{{food_new.eventEndTime}}</div>
  </div>

  <div class="clockdiv col col-4">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>

</div>
{{/if}}

{{!-- home food --}}
<div class="home-product" id="home-foods">

  <div class="product-header" class="books-header">
    <span>Đồ ăn và hơn thế</span>
    <i class="product-icon ti-gift"></i>
  </div>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">

    <div class="carousel-inner row w-100 mx-auto" role="listbox">

      {{#each food}}
      <a class="carousel-item col-md-3" href="/food/{{this.slug}}">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <div title="image 1" class="thumb">
              <img class="img-fluid mx-auto d-block" src="{{this.image}}" alt="slide 1">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>

            <p class="card-text">{{this.description}}</p>

            <div class="item-price flex">

              {{#if this.saleoff_status}}
              <div class="price-sale-value"><span>{{this.saleoff_price}}</span> VNĐ</div>
              <div class="price-real-value gone"><span>{{this.price}}</span> VNĐ</div>
              <div class="discount-value">-<span>{{this.discountPercentage}}</span>%</div>

              <div class="hotsale">
                <span class="soldNo" style='display:none'>{{this.no_sold_during_saleoff}}</span>
                <span class="sumNo" style='display:none'>{{this.sum_items_during_saleoff}}</span>
                <div class="dealQuantity">
                  <div class="dealProgress"></div>
                  <span class="sale-text"></span>
                </div>
              </div>
              <div class="justOverSale">
                <span class="message">Sự kiện vừa kết thúc</span>
              </div>
              {{else}}
              <div class="price-real-value"><span>{{this.price}}</span> VNĐ</div>
              {{/if}}




            </div>







          </div>
        </div>

      </a>
      {{/each}}




      {{!-- drink item2 --}}




    </div>
    {{!-- book prev icon --}}
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    {{!-- book next icon --}}
    <a class="carousel-control-next text-faded" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

{{!-- đồng hồ book --}}
{{#if book_new}}
<div class="saleClock row" id="saleClockBook">

  <div class="header col col-8">
    <h3>Sự kiện giảm các sản phẩm liên quan đến sách đang diễn ra</h3>
    <span style="font-size: 16px; font-weight: 600">Giảm lên tới <span
        style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{book_new.discountPercentage}}%</span> cho các
      đầu sách có giá trên <span
        style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{book_new.condition}}.000 VNĐ</span></span>
  </div>

  <div class="endClock">
    <div class="endDate" style="display: none">{{book_new.eventEndDate}}</div>
    <div class="endTime" style="display: none">{{book_new.eventEndTime}}</div>
  </div>

  <div class="clockdiv col col-4">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>

</div>
{{/if}}

{{!-- home books --}}
<div class="home-product" id="home-books">

  <div class="product-header" class="books-header">
    <span>Các tựa sách hot</span>
    <i class="product-icon ti-book"></i>
  </div>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">

    <div class="carousel-inner row w-100 mx-auto" role="listbox">

      {{#each books}}
      {{!-- book item1 --}}
      <a class="carousel-item col-md-3" href="/books/{{this.slug}}">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <div title="image 1" class="thumb">
              <img class="img-fluid mx-auto d-block" src="{{this.image}}" alt="slide 1">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>

            <p class="card-text">{{this.description}}</p>

            <div class="item-price flex">

              {{#if this.saleoff_status}}
              <div class="price-sale-value"><span>{{this.saleoff_price}}</span> VNĐ</div>
              <div class="price-real-value gone"><span>{{this.price}}</span> VNĐ</div>
              <div class="discount-value">-<span>{{this.discountPercentage}}</span>%</div>

              <div class="hotsale">
                <span class="soldNo" style='display:none'>{{this.no_sold_during_saleoff}}</span>
                <span class="sumNo" style='display:none'>{{this.sum_items_during_saleoff}}</span>
                <div class="dealQuantity">
                  <div class="dealProgress"></div>
                  <span class="sale-text"></span>
                </div>
              </div>
              <div class="justOverSale">
                <span class="message">Sự kiện vừa kết thúc</span>
              </div>
              {{else}}
              <div class="price-real-value"><span>{{this.price}}</span> VNĐ</div>
              {{/if}}




            </div>







          </div>
        </div>

      </a>
      {{/each}}


    </div>
    {{!-- book prev icon --}}
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    {{!-- book next icon --}}
    <a class="carousel-control-next text-faded" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

{{!-- đồng hồ drink --}}
{{#if coffee_new}}
<div class="saleClock row" id="saleClockDrink">

  <div class="header col col-8">
    <h3>Sự kiện giảm các sản phẩm liên quan đến đồ uống đang diễn ra</h3>
    <span style="font-size: 16px; font-weight: 600">Giảm lên tới <span
        style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{coffee_new.discountPercentage}}%</span> cho loại
      đồ uống có giá trên <span
        style="font-weight: bold; color: #ff4242d9; font-size: 16px;">{{coffee_new.condition}}.000 VNĐ</span></span>
  </div>

  <div class="endClock">
    <div class="endDate" style="display: none">{{coffee_new.eventEndDate}}</div>
    <div class="endTime" style="display: none">{{coffee_new.eventEndTime}}</div>
  </div>

  <div class="clockdiv col col-4">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>

</div>
{{/if}}

{{!-- home drink --}}

<div class="home-product" id="home-drinks">

  <div class="product-header" class="books-header">
    <span>Coffee và hơn thế</span>
    <i class="product-icon ti-crown"></i>
  </div>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">

    <div class="carousel-inner row w-100 mx-auto" role="listbox">

      {{#each coffee}}
      {{!-- drink item1 --}}
      <a class="carousel-item col-md-3" href="/coffee/{{this.slug}}">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <div title="image 1" class="thumb">
              <img class="img-fluid mx-auto d-block" src="{{this.image}}" alt="slide 1">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>

            <p class="card-text">{{this.description}}</p>

            <div class="item-price flex">

              {{#if this.saleoff_status}}
              <div class="price-sale-value"><span>{{this.saleoff_price}}</span> VNĐ</div>
              <div class="price-real-value gone"><span>{{this.price}}</span> VNĐ</div>
              <div class="discount-value">-<span>{{this.discountPercentage}}</span>%</div>

              <div class="hotsale">
                <span class="soldNo" style='display:none'>{{this.no_sold_during_saleoff}}</span>
                <span class="sumNo" style='display:none'>{{this.sum_items_during_saleoff}}</span>
                <div class="dealQuantity">
                  <div class="dealProgress"></div>
                  <span class="sale-text"></span>
                </div>
              </div>
              <div class="justOverSale">
                <span class="message">Sự kiện vừa kết thúc</span>
              </div>
              {{else}}
              <div class="price-real-value"><span>{{this.price}}</span> VNĐ</div>
              {{/if}}




            </div>







          </div>
        </div>

      </a>
      {{/each}}



    </div>
    {{!-- drink prev icon --}}
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    {{!-- drink next icon --}}
    <a class="carousel-control-next text-faded" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>


{{#if workingspaces.length}}
{{!-- home workingspace --}}
<div class="home-product" id="home-workingspaces">

  <div class="product-header" class="books-header">
    <span>Sự kiện của quán</span>
    <i class="product-icon ti-cup"></i>
  </div>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">

    <div class="carousel-inner row w-100 mx-auto" role="listbox">

      {{#each workingspaces}}

      <a href="/workingspaces/{{this.slug}}" class="carousel-item col-md-3">

        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <div title="image 1" class="thumb">
              <img class="img-fluid mx-auto d-block" src="{{this.avatar}}" alt="slide 1">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            {{!-- <div class="book-author"><span>Tác giả: </span><span>Riot</span></div> --}}
            <p class="card-text">{{this.description}}</p>
          </div>
        </div>

      </a>
      {{/each}}


    </div>
    {{!-- workingspace prev icon --}}
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    {{!-- workingspace next icon --}}
    <a class="carousel-control-next text-faded" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

{{/if}}

{{!-- home image --}}
<div id="home-image">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  const $_1 = document.querySelector.bind(document);
  const $$_1 = document.querySelectorAll.bind(document);

  const sliderItems = $$_1('#ad-slider .carousel-item ')
  const prevSliderIcon = $_1('#ad-slider .carousel-control-prev')
  const nextSliderIcon = $_1('#ad-slider .carousel-control-next')

  const bookItems = $$_1('#home-books .carousel-item')
  const prevbookIcon = $_1('#home-books .carousel-control-prev')
  const nextbookIcon = $_1('#home-books .carousel-control-next')

  const drinkItems = $$_1('#home-drinks .carousel-item')
  const prevdrinkIcon = $_1('#home-drinks .carousel-control-prev')
  const nextdrinkIcon = $_1('#home-drinks .carousel-control-next')

  const foodItems = $$_1('#home-foods .carousel-item')
  const prevfoodIcon = $_1('#home-foods .carousel-control-prev')
  const nextfoodIcon = $_1('#home-foods .carousel-control-next')

  const workingspaceItems = $$_1('#home-workingspaces .carousel-item')
  const prevworkingspaceIcon = $_1('#home-workingspaces .carousel-control-prev')
  const nextworkingspaceIcon = $_1('#home-workingspaces .carousel-control-next')

  const book_new_check = parseInt($_1('#book_new_check').value)
  const coffee_new_check = parseInt($_1('#coffee_new_check').value)
  const food_new_check = parseInt($_1('#food_new_check').value)

  if (!book_new_check && !coffee_new_check && !food_new_check)
    $_1('#first-default-slide').classList.add('active')

  if (bookItems.length > 0)
    bookItems[0].classList.add('active')

  if (drinkItems.length > 0)
    drinkItems[0].classList.add('active')
  if (foodItems.length > 0)
    foodItems[0].classList.add('active')

  if (workingspaceItems.length > 0)
    workingspaceItems[0].classList.add('active')

  function prevIconClick(items) {
    var activeIndex;
    var activeE;
    items.forEach(function (item, index) {
      if (item.classList.contains('active')) {
        activeE = item;
      }
    })
    items.forEach(function (item, index) {
      if (item === activeE) {
        activeIndex = index;
      }
    })
    activeE.classList.remove('active');
    if (activeIndex > 0) {
      items[activeIndex - 1].classList.add('active');
    }
    else {
      items[items.length - 1].classList.add('active');
    }
  }

  function nextIconClick(items) {
    var activeIndex;
    var activeE;
    items.forEach(function (item, index) {
      if (item.classList.contains('active')) {
        activeE = item;
      }
    })
    items.forEach(function (item, index) {
      if (item === activeE) {
        activeIndex = index;
      }
    })
    activeE.classList.remove('active');
    if (activeIndex < items.length - 1) {
      items[activeIndex + 1].classList.add('active');
    }
    else {
      items[0].classList.add('active');
    }
  }

  prevbookIcon.onclick = function () {
    prevIconClick(bookItems);
  }
  nextbookIcon.onclick = function () {
    nextIconClick(bookItems);
  }
  prevdrinkIcon.onclick = function () {
    prevIconClick(drinkItems);
  }
  nextdrinkIcon.onclick = function () {
    nextIconClick(drinkItems);
  }

  prevfoodIcon.onclick = function () {
    prevIconClick(foodItems);
  }
  nextfoodIcon.onclick = function () {
    nextIconClick(foodItems);
  }

  prevworkingspaceIcon.onclick = function () {
    prevIconClick(workingspaceItems);
  }
  nextworkingspaceIcon.onclick = function () {
    nextIconClick(workingspaceItems);
  }


</script>

<script src="/js/hotSale.js"></script>
<script src="/js/countDownClock.js"></script>